* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.container {
    background-color: #FAFAFA;
    transform-origin: top left;
    transition: transfrom 0.5s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 4rem;
}